<section class="background " style="background-color: #f3f2f5; border-radius: 30px; display: flex; justify-content: center; align-items: center;">
    <div class="Container col-5 shadow p-3 m-3 bg-body rounded" style="width: 400px; height: 300px; border-radius: 30px;     display: flex;
    justify-content: center;
    border-radius: 30px;
    flex-wrap: wrap;
    flex-direction: column;">
    <form class="needs-validation" novalidate id="bookingForm" (ngSubmit)="depositar()" #formDir="ngForm" [formGroup]="formDeposito" enctype="multipart/form-data">
        <div class="p-3 form-group">
            <h1 class="text-center">Depositar</h1>
            <div class="mb-3 mt-5">
                <input type="number" formControlName="valor" class="form-control" [ngClass]="{'is-invalid': valor.invalid && formDir.submitted, 'is-valid': valor.valid}" id="exampleFormControlInput1" placeholder="Quantidade">
            </div>
            <div *ngIf="valor.invalid && formDir.submitted" class="invalid-feedback" style="display: block;">
                <p *ngIf="valor.errors?.['required']">
                  O valor de deposito é obrigatório
                </p>
              </div>
            <div class="mt-5">
                <button type="submit"  class="btn btn-primary" style="width: 100%;">Adicionar</button>
            </div>
        </div>
        
        </form>
    </div>
    
</section>