<main class="pe-2 ps-2">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Página não encontrada.</p>
            <p class="lead">
                A página que você está procurando não existe.
            </p>
            <div class="mt-2">
                <a href="/inicio" class="btn btn-primary">Voltar a tela inicial</a>
            </div>
        </div>
    </div>
</main>
