@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600&family=Nunito:wght@400;500;600;800&display=swap');

*{
    font-family: 'Nunito';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: #202020;
  }
  .alert.fixed-bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 2vh;
    width: 280px;
    margin-left: auto;
    z-index: 10000;
  }
  .typography{
    color: #37383b;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .Header {
    height: 66px;
  }
  
  .Footer {
    height: 57px;
  }
  
  .background{
    display:flex;
    min-height: calc(100vh); 
    justify-content: space-between;
    flex-direction: column;
    }

.Container{
  padding-right: 5%;
  padding-left: 5%;
}
    

.modal {
  --bs-modal-border-radius: 15px;
  --bs-modal-border-color: none;
  --bs-modal-header-border-color: transparent;
  --bs-modal-footer-border-color: transparent;
  --bs-body-bg: #ffffff;
}

.modal.fade .modal-dialog {
  transition: transform 0.6s ease-out;
  transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  transform: translate(0, 0);
}

body, html {
  overflow-x: hidden;
}