<header class="Header" style="background-color: #f3f2f5;">
    <div class="row p-2">
        <div class="col-12" style="display: flex;
        justify-content: center;">
            <img src="assets/tercio.png" height="60" alt="">
            <h1 class="mb-0 text-center mt-3">Tércio Delivery</h1>
        </div>
    </div>
</header>
<section style="background-color: #f3f2f5;">
    <div class="Container pt-4">
        <div class="row">
            <div class="col-12 col-sm-8">
                <h3 style="font-weight: 600; height: 31.22px;" class="text-center mt-2">Lanches</h3>
                <app-home></app-home>
            </div>
            <div class="col-12 col-sm-4">
                <h3 style="height: 31.22px;" class="text-center mt-2"> </h3>
                <app-pedido></app-pedido>
            </div>
        </div>
    </div>
</section>

<div class="alert alert-success d-none fixed-bottom text-center" role="alert" id="SSuccess">
    <p class="mb-0"><strong>A firma agradece!</strong></p>
</div>
<!-- Modal -->
