<div class="modal-header">
    <h2 class="modal-title">Headers</h2>
  </div>
  <div class="modal-body pt-0">
      <p><strong>authority:</strong>
           terciodelivery.robertogram.com.br</p>
      <p><strong>method:</strong> POST</p>
      <p><strong>path:</strong> /DeleteLanche</p>
      <p><strong>Accept:</strong> application/json, text/plain, */*</p>
  </div>
  <div class="modal-header pt-1">
      <h2 class="modal-title">Body</h2>
    </div>
    <div class="modal-body pt-0">
      <p ps-1><strong>arrey[object]</strong></p>
      <div class="codigo">
          <p class="identacao">"{{ '{' }}lanche_id: 4{{ '}' }}"</p>
      </div>
    </div>
  <div class="modal-footer d-flex justify-content-end">
      <button type="button" class="btn btn-primary" style="min-width: 20%;" >Continuar</button>
  </div>