<div class="Container col-5 shadow p-3 m-3 bg-body rounded" style="width: 400px; min-height: 300px; border-radius: 30px;">
    <div class="text-center">
        <h3 class="typography">Pedidos</h3>
    </div>
    <div >
        <hr>
        <div class="mt-4" style="display: flex; justify-content: space-between;">
            <p><strong>Nome: </strong>Capetinha</p>
            <p><strong>Quantidade: </strong>2</p>
        </div>
        <p><strong>Descrição: </strong>Cebola, Alho, Pimenta</p>
        <div style="display: flex; justify-content: end;">
            <button class="btn btn-primary btn-sm">Entregar</button>
        </div>
    </div>
    <div >
        <hr>
        <div class="mt-4" style="display: flex; justify-content: space-between;">
            <p><strong>Nome: </strong>Capetinha</p>
            <p><strong>Quantidade: </strong>2</p>
        </div>
        <p><strong>Descrição: </strong>Cebola, Alho, Pimenta</p>
        <div style="display: flex; justify-content: end;">
            <button class="btn btn-primary btn-sm">Entregar</button>
        </div>
    </div>
    <div >
        <hr>
        <div class="mt-4" style="display: flex; justify-content: space-between;">
            <p><strong>Nome: </strong>Capetinha</p>
            <p><strong>Quantidade: </strong>2</p>
        </div>
        <p><strong>Descrição: </strong>Cebola, Alho, Pimenta</p>
        <div style="display: flex; justify-content: end;">
            <button class="btn btn-primary btn-sm">Entregar</button>
        </div>
    </div>
    <div >
        <hr>
        <div class="mt-4" style="display: flex; justify-content: space-between;">
            <p><strong>Nome: </strong>Capetinha</p>
            <p><strong>Quantidade: </strong>2</p>
        </div>
        <p><strong>Descrição: </strong>Cebola, Alho, Pimenta</p>
        <div style="display: flex; justify-content: end;">
            <button class="btn btn-primary btn-sm">Entregar</button>
        </div>
    </div>
</div>