<header class="Header" style="background-color: #f3f2f5;">
    <div class="row p-2">
        <div class="col-10">
            <h1 class="mb-0">buceta</h1>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
            <button style="background-color: transparent; border: none;">
                <i class="fa-solid fa-user fa-xl"></i>
            </button>
        </div>
    </div>
</header>
<section style="background-color: #f3f2f5;">
    <div class="Container">
        <div class="row">
            <div class="col-8">
                <app-home></app-home>
            </div>
            <div class="col-4">
                <app-pedido></app-pedido>
            </div>
        </div>
    </div>
</section>