<section class="background">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            <span class="input-group-text" id="addon-wrapping">@</span>
        </div>
        <div style="min-height: 600px;">
            <h3 style="font-weight: 600;" class="text-center mt-2">Lanches</h3>
            <div class="row justify-content-center">
                <div class="col-5 shadow p-3 m-3 bg-body rounded">
                    <div class="bg-white p-2" style="border-radius: 10px;">
                        <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
                        <div style="display: flex; justify-content: space-between;" class="mt-1">
                            <p><strong style="font-size: 14px;">Nome do lanche</strong></p>
                            <strong>R$ Valor</strong>
                        </div>
                        <div>
                            <p class="tipography text-center">2 disponiveis <i class="fa-solid fa-plus fa-xl"></i></p>
                        </div>
                    </div>
                </div>                
                <div class=" col-5 shadow p-3 m-3 bg-body rounded">
                    <div class="bg-white p-2 " style="border-radius: 10px;">
                        <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
                        <div style="display: flex; justify-content: space-between;" class="mt-1">
                            <p><strong style="font-size: 14px;">Nome do lanche</strong></p>
                            <strong>R$ Valor</strong>
                        </div>
                        <div>
                            <p class="tipography text-center">2 disponiveis <i class="fa-solid fa-plus fa-xl"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>