<section>
        <div style="min-height: 600px;">
           
            <div class="row justify-content-center">
                <div class="col-5 shadow p-3 m-1 m-1 m-sm-3 bg-body rounded">
                    <div class="bg-white p-2" style="border-radius: 10px;">
                        <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
                        <div style="display: flex; justify-content: space-between;" class="mt-1">
                            <p><strong style="font-size: 14px;">Nome do lanche</strong></p>
                            <strong>R$ Valor</strong>
                        </div>
                        <div>
                            <p class="tipography text-center">2 disponiveis <button style="border: none; background-color: transparent;" (click)="adicionarQuantidade(template)"><i class="fa-solid fa-plus fa-xl"></i></button></p>
                        </div>
                    </div>
                </div>                
                <div class=" col-5 shadow p-3 m-1 m-sm-3 bg-body rounded">
                    <div class="bg-white p-2 " style="border-radius: 10px;">
                        <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
                        <div style="display: flex; justify-content: space-between;" class="mt-1">
                            <p><strong style="font-size: 14px;">Nome do lanche</strong></p>
                            <strong>R$ Valor</strong>
                        </div>
                        <div>
                            <p class="tipography text-center">2 disponiveis <button style="border: none; background-color: transparent;" (click)="adicionarQuantidade(template)"><i class="fa-solid fa-plus fa-xl"></i></button></p>
                        </div>
                    </div>
                </div>
                <div class=" col-5 shadow p-3 m-1 m-sm-3 bg-body rounded">
                    <div class="bg-white p-2 " style="border-radius: 10px;">
                        <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
                        <div style="display: flex; justify-content: space-between;" class="mt-1">
                            <p><strong style="font-size: 14px;">Nome do lanche</strong></p>
                            <strong>R$ Valor</strong>
                        </div>
                        <div>
                            <p class="tipography text-center">2 disponiveis <button style="border: none; background-color: transparent;" (click)="adicionarQuantidade(template)"><i class="fa-solid fa-plus fa-xl"></i></button></p>
                        </div>
                    </div>
                </div>
                <div class=" col-5 shadow p-3 m-1 m-sm-3 bg-body rounded">
                    <div class="bg-white p-2 " style="border-radius: 10px;">
                        <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
                        <div style="display: flex; justify-content: space-between;" class="mt-1">
                            <p><strong style="font-size: 14px;">Nome do lanche</strong></p>
                            <strong>R$ Valor</strong>
                        </div>
                        <div>
                            <p class="tipography text-center">2 disponiveis <button style="border: none; background-color: transparent;" (click)="adicionarQuantidade(template)"><i class="fa-solid fa-plus fa-xl"></i></button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<!-- Modal -->
<ng-template #template>
    <div class="ms-4">
    <div class="modal-header">
      <h2 class="modal-title">Selecine a quantidade</h2>
    </div>
    <div class="modal-body pt-0">
        <div class="mb-3">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Quantidade">
        </div>
    </div>
    <div class="modal-footer justify-content-end">
      <button type="button" class="btn btn-danger me-3" style="min-width: 20%;" (click)="modalRef.hide()">Cancelar</button>
      <button type="button" id="remover" class="btn btn-primary" style="min-width: 20%;">Adicionar</button>
    </div>
  </div>
  </ng-template>