<header class="Header" style="background-color: #f3f2f5;">
    
    <a href="/inicio">
      <div class="p-2" style="display: flex;
    justify-content: center;">
        <img src="assets/tercio.png" height="60" alt="">
        <h1 class="mb-0 mt-4">Tércio Delivery</h1>
    </div>
    </a>
</header>
<section class="background" style="background-color: #f3f2f5;">
    <div class="Container">
        <div class="row">
            <div class="col-8 d-flex justify-content-center">
                <router-outlet></router-outlet>
            </div>
            <div class="col-3 m-3 ">
                <h3><Strong>Opções</Strong></h3>
                <div class="d-grid gap-2">
                    <button routerLink="pedidos" class="btn btn-secondary">Ver pedidos</button>
                    <button routerLink="lanches" class="btn btn-secondary">Ver lanche</button>
                    <button (click)="adicionarLanche(template)" class="btn btn-primary">Adicionar lanche</button>
                    
                  </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<ng-template #template style="background-color: white;">
    <form class="needs-validation" novalidate id="bookingForm" (ngSubmit)="advanceApi(debbug)" #formDir="ngForm" [formGroup]="formCreateLanche" enctype="multipart/form-data">
    <div>
    <div class="modal-header">
      <h2 class="modal-title">Criar lanche</h2>
    </div>
    <div class="modal-body pt-0">
        <div class=" p-3 col-12">
            <form id="bookingForm" #formDir="ngForm" [formGroup]="formPhotos" enctype="multipart/form-data">
              <label class="form-label mb-0" for="fotoLanche"><span class="fw-bold text-danger">*</span> Anexe a foto do lanche</label>
              <div class="d-grid gap-2">
                <input class="form-control" type="file" accept="image/png, image/jpeg,.jpg" image-cropper-input formControlName="fotoLanche"
                  id="file-input" formControlName="fotoLanche" (change)="fileChangeEvent($event)" [ngClass]="{'is-invalid': fotoLanche.invalid && formDir.submitted, 'is-valid': fotoLanche!.valid}"/>
              </div>
              <div *ngIf="fotoLanche.invalid && formDir.submitted" class="invalid-feedback" style="display: block;">
              <p *ngIf="fotoLanche.errors?.['required']">A foto é obrigatória</p>
            </div>
            </form>
            
          </div>
            <div class="row">
                <div class="col-12">
                    <div class="p-3 form-group">
                        <div>
                            <label for="nome"><span class="fw-bold text-danger">*</span> Nome</label>
                            <input type="text" formControlName="nome" class="form-control" [ngClass]="{'is-invalid': nome.invalid && formDir.submitted, 'is-valid': nome.valid}" id="exampleFormControlInput1" placeholder="Nome">
                        </div>
                        <div *ngIf="nome.invalid && formDir.submitted" class="invalid-feedback" style="display: block;">
                            <p *ngIf="nome.errors?.['required']">
                              O nome do lanche é obrigatório
                            </p>
                          </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="p-3 form-group pe-0">
                        <div class="">
                            <label for="quantidade"><span class="fw-bold text-danger">*</span> Quantidade</label>
                            <input type="number" formControlName="quantidade" class="form-control" [ngClass]="{'is-invalid': quantidade.invalid && formDir.submitted, 'is-valid': quantidade.valid}" id="exampleFormControlInput1" placeholder="Quantidade">
                        </div>
                        <div *ngIf="quantidade.invalid && formDir.submitted" class="invalid-feedback" style="display: block;">
                            <p *ngIf="quantidade.errors?.['required']">
                              A quantidade é obrigatória
                            </p>
                          </div>
                    </div>
                </div>
                <div class="col-6">
                  <div class="p-3 form-group ps-0">
                      <div class="">
                          <label for="valor"><span class="fw-bold text-danger">*</span> Valor</label>
                          <input type="number" formControlName="valor" class="form-control" [ngClass]="{'is-invalid': valor.invalid && formDir.submitted, 'is-valid': valor.valid}" id="exampleFormControlInput1" placeholder="valor">
                      </div>
                      <div *ngIf="valor.invalid && formDir.submitted" class="invalid-feedback" style="display: block;">
                          <p *ngIf="valor.errors?.['required']">
                            O valor é obrigatório
                          </p>
                        </div>
                  </div>
              </div>
                <div class="col-12">
                    <div class="p-3 pt-0 form-group">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" id="descricao" [ngClass]="{'is-invalid': descricao.invalid && formDir.submitted, 'is-valid': descricao.valid}"  formControlName="descricao" rows="3"></textarea>
                        <div *ngIf="descricao.invalid && formDir.submitted" class="invalid-feedback" style="display: block;">
                          <p *ngIf="descricao.errors?.['required']">
                            A descrição é obrigatória
                          </p>
                        </div>
                      </div>
                      
                </div>
            </div>
           
    </div>
    <div class="modal-footer justify-content-end me-3">
      <button type="button" class="btn btn-danger me-3" style="min-width: 20%;" (click)="modalRef.hide()">Cancelar</button>
      <button *ngIf="spinner; else noSpinner" type="submit" id="remover" class="btn btn-primary" style="min-width: 20%;">Adicionar</button>
      <ng-template #noSpinner>
        <button class="btn btn-primary" type="button" style="min-width: 20%;" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Aguarde...
        </button>
      </ng-template>
    </div>
  </div>
</form>
  </ng-template>


  <div class="alert alert-success d-none fixed-bottom text-center" role="alert" id="Success">
    <p class="mb-0"><strong>{{fraseAlert}}</strong></p>
  </div>

  <div class="alert alert-danger d-none fixed-bottom text-center" role="alert" id="error">
    <p class="mb-0"><strong>{{fraseAlert}}</strong></p>
  </div>


<!-- Modal -->
<ng-template #debbug>
  <div class="ms-4">
    <div class="modal-content" data-bs-backdrop="static">
      <div class="modal-header">
        <h2 class="modal-title">Headers</h2>
      </div>
      <div class="modal-body pt-0">
          <p><strong>authority:</strong> terciodelivery.robertogram.com.br</p>
          <p><strong>method:</strong> POST</p>
          <p><strong>path:</strong> /CreateLanche</p>
          <p><strong>Accept:</strong> application/json, text/plain, */*</p>
      </div>
      <div class="modal-header pt-1">
          <h2 class="modal-title">Payload</h2>
        </div>
        <div class="modal-body pt-0">
          <p ps-1><strong>Form Data</strong></p>
          <div class="codigo">
              <strong class="identacao">foto:</strong> (binary) <br>
              <strong class="identacao">nome:</strong> {{formCreateLanche.get('nome')!.value}} <br>
              <strong class="identacao">descricao:</strong> {{formCreateLanche.get('descricao')!.value}} <br>
              <strong class="identacao">valor: </strong> {{formCreateLanche.get('valor')!.value}} <br>
              <strong class="identacao">quantDispo:</strong> {{formCreateLanche.get('quantidade')!.value}} <br>
          </div>
        </div>
      <div class="modal-footer d-flex justify-content-end">
          <button type="button" class="btn btn-primary" style="min-width: 20%;" (click)="createLanche()">Continuar</button>
      </div>
    </div>
</div>
</ng-template>

<!-- Modal -->
<ng-template #debbugShowLanche>
  <div class="ms-4">
    <div class="modal-content" data-bs-backdrop="static">
      <div class="modal-header">
        <h2 class="modal-title">Headers</h2>
      </div>
      <div class="modal-body pt-0">
          <p><strong>authority:</strong> terciodelivery.robertogram.com.br</p>
          <p><strong>method:</strong> POST</p>
          <p><strong>path:</strong> /CreateLanche</p>
          <p><strong>Accept:</strong> application/json, text/plain, */*</p>
      </div>
      <div class="modal-header pt-1">
          <h2 class="modal-title">Payload</h2>
        </div>
        <div class="modal-body pt-0">
          <p ps-1><strong>Form Data</strong></p>
          <div class="codigo">
              <strong class="identacao">foto:</strong> (binary) <br>
              <strong class="identacao">nome:</strong> {{formCreateLanche.get('nome')!.value}} <br>
              <strong class="identacao">descricao:</strong> {{formCreateLanche.get('descricao')!.value}} <br>
              <strong class="identacao">valor: </strong> {{formCreateLanche.get('valor')!.value}} <br>
              <strong class="identacao">quantDispo:</strong> {{formCreateLanche.get('quantidade')!.value}} <br>
          </div>
        </div>
      <div class="modal-footer d-flex justify-content-end">
          <button type="button" class="btn btn-primary" style="min-width: 20%;" (click)="createLanche()">Continuar</button>
      </div>
    </div>
</div>
</ng-template>