<section class="shadow p-3 mb-5 bg-body" style="background-color: white; border-radius: 30px;">
    <div>
        <h3>Pedidos</h3>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="assets/lanches-gourmet.webp" style="border-radius: 10px;" class="img-fluid" alt="foto lanche">
            <div class="bg-white p-2" style="border-radius: 10px;">
            </div>
        </div>
        <div class="col-6 p-0">
            <p class="m-0"><strong  style="font-size: 14px;">Nome do lanche</strong></p>
            <p >2 disponiveis</p>
        </div>
        <div class="col-3">
            <div style="display: flex; justify-content: space-between;" class="mt-1">
                <strong>R$ Valor</strong>
            </div>
        </div>
        <hr>

    </div>
    <div style="background-color: white;">
        <div class="mt-4" style="display: flex; justify-content: space-between;">
            <p class="typography">Subtotal</p>
            <p class="typography">R$300.00</p>
        </div>
        <div class="mt-2" style="display: flex; justify-content: space-between;">
            <p class="typography">Total</p>
            <p class="typography">R$300.00</p>
        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-dark" style="border-radius: 15px; width: 100%;">Fazer pedido</button>
        </div>
    </div>
</section>